#dashboard{
  background-image: url("https://cdn.theconversation.com/files/45159/width1356x668/rptgtpxd-1396254731.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  
  height:100vh;
}